html {
  height: 100%;
}
body {
  height: 100%;
}

h1 {
  font-family: lato, sans-serif;
  color: white;
  margin: 50px;
  font-size: 100px;
  font-weight: 900;
  text-shadow: 2px 2px 5px rgba(150, 150, 152, 0.5);
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed; /* With these four lines, the background gradient will fill the entire screen */

  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

.recipe-box {
  display: flex;
  justify-content: space-between;
}
.recipe-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 25px;
}
.recipe-img {
  height: auto;
  max-height: 200px;
  width: 300px;
  object-fit: cover;
  border-radius: 12px;
}
.card-title {
  font-family: lato, sans-serif;
}

.card-description {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(83, 83, 83);
  max-width: 300px;
}

.slogan {
  font-family: Sriracha, Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: white;
  font-weight: 900;
  text-align: center;
}
